@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&family=Lora:ital,wght@0,400;1,400;1,600&family=Playfair+Display:wght@400;500;600;700&display=swap');

.main {
  background-color: #F9F5E3;
  color: #1B0C1D;
  padding: 16px;
  max-width: 900px;
  margin-inline: auto;
}

.main .banner {
  width: 100%;
  margin-inline-start: -16px;
  margin-block-start: -16px;
}

.main .img {
  width: 100%;
  height: auto;
  display: block;
  margin-block: 1em;
}

.main p+p {
  margin-block: 1rem;
}

.main span,
.main h1,
.main h2 {
  font-weight: 600;
  font-family: "Playfair Display";
}

.main h1 {
  font-size: 28px;
}

.main h1,
.main h2 {
  margin-block: 1em;
}